<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testecepapikotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteCepAPIKotlin">
        <activity
            android:name=".activityChuckNorris.ChuckNorrisActivity"
            android:exported="false" />
        <activity
            android:name=".activityAdvice.ActivityAdvice"
            android:exported="false" />
        <activity
            android:name=".activityCEP.CepActivity"
            android:exported="false" />
        <activity
            android:name=".activityChoose.ChooseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>